<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item" *ngIf="isInRole('Admin|Vendedor')">
      <a class="nav-link" routerLink="/estoque/consultar-estoque">
        <i class="bi bi-grid"></i> <span>Estoque</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isInRole('Admin')">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Administrativo</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="/fornecedores/listar-todos">
            <i class="bi bi-circle"></i><span>Fornecedores</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/produtos/listar-todos']">
            <i class="bi bi-circle"></i><span>Produtos</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/etiquetas']">
            <i class="bi bi-circle"></i><span>Gerar Etiquetas</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/estoque/baixo-estoque']">
            <i class="bi bi-circle"></i><span>Gerenciar Baixo Estoque</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
