<div class="message">Você não foi autorizado.</div>
<div class="message2">
  Você tentou acessar uma página no qual não possui acesso.
  <button class="btn btn-primary mt-4" (click)="voltar()">
    Voltar a página anterior
  </button>
</div>
<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
  "
>
  <div class="door-frame">
    <div class="door">
      <div class="rectangle"></div>
      <div class="handle"></div>
      <div class="window">
        <div class="eye"></div>
        <div class="eye eye2"></div>
        <div class="leaf"></div>
      </div>
    </div>
  </div>
</div>
